.friendList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  margin: 0 auto;
}

// .item {
//   display: flex;
//   align-items: center;
//   padding: 15px;
//   width: 100%;
//   margin: 6px auto;
//   border-radius: 4px;
//   background-color: #f1eaea;
// }
