.item {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 100%;
  margin: 6px auto;
  border-radius: 4px;
  background-color: #f1eaea;
}
.avatar {
  margin-right: 15px;
  background-color: #fff;
  border-radius: 50%;
}
.name {
  margin-right: 15px;
  font-size: 24px;
  font-weight: 600;
}
.status {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 15px;
}
.isActive {
  @extend .status; // в css composes: status;
  background-color: rgb(61, 224, 39);
}
.isNotActive {
  @extend .status;
  background-color: rgb(223, 18, 18);
}
