.transactionHistory {
  margin: 0 auto;
  max-width: 1100px;
  border: 1px solid #2a2a2a;
  border-radius: 6px;
  box-shadow: 4px 8px 10px -4px #a09c9c;
  border-spacing: 0;
  overflow: hidden;
}

.thead {
  padding: 15px;
  margin: 6px auto;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: rgb(97, 218, 251);
  th {
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .thBorder {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
}

.tbody {
  padding: 15px;
  margin: 6px auto;
  border-radius: 4px;
  background-color: rgb(241, 243, 241);
  td {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: capitalize;
  }
  .tr {
    background-color: #fff;
  }
  .td {
    text-align: center;
  }
  .tdBorder {
    border-left: 1px solid #c7c0c0;
    border-right: 1px solid #c7c0c0;
  }
}
